<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>

<body>
    {{> header}}
    <div class="container mx-auto px-4">
        <main class="bg-white rounded-sm shadow-md p-8">
            <section class="mb-4">
                <h2 class="text-2xl font-title mb-2">Contact</h2>
                <address>
                    <a href="https://www.cse.ust.hk/~mxj/" class="link">Dr. Xiaojuan Ma</a>
                </address>
            </section>
            <section>
                <h2 class="text-2xl font-title mb-2">Address</h2>
                <address>
                    <p class="mb-2">
                        Department of Computer Science and Engineering<br>
                        The Hong Kong University of Science and Technology<br>
                        Clear Water Bay, Kowloon, Hong Kong<br>
                    </p>
                    <iframe class="w-full lg:w-1/2 aspect-[8/5]" src="https://www.google.com.ua/maps?f=d&amp;source=s_d&amp;saddr=HKUST&amp;daddr=&amp;hl=uk&amp;geocode=&amp;sll=22.337047,114.264062&amp;sspn=0.033404,0.084543&amp;mra=mift&amp;mrsp=0&amp;sz=14&amp;ie=UTF8&amp;t=m&amp;z=16&amp;output=embed"></iframe>
                </address>
            </section>
        </main>
    </div>
    {{> footer}}
</body>
</html>