<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>

<body>
    {{> header}}
    <div class="container mx-auto px-4">
        <main class="bg-white rounded-sm shadow-md p-8">
        <p>
            Stub page
        </p>
        </main>
    </div>
    {{> footer}}
</body>
</html>